
<nav>
  <div class="nav-wrapper header-bogota blue-grey darken-3">
    <a href="#!" class="brand-logo left">
      <img src="img/LogoHeader.png" class="responsive-img" style="height: 70px;">
    </a>
    <a href="#!" class="brand-logo center">
      Administrador
    </a>
    <ul class="right">
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col push-m2 push-l2 m8 l8 new">
      <h3 class="center">Terminos y Condiciones</h3>
      <form class="col s12" ng-model="termino">
        <div class="row">
          <div class="col s12">
            <label for="Nombre">Titulo</label>
            <input id="Nombre" type="text" class="validate" ng-model="termino.nombre">
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label for="reseña">Texto Terminos</label>
            <textarea id="reseña" class="materialize-textarea" ng-model="termino.texto"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 center">
            <a class="btn waves-effect red darken-3 barraNav-btn" name="action" ng-click="updateTerminos(termino)">
              Guardar Cambios
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
