<nav>
  <div class="nav-wrapper header-bogota blue-grey darken-3">
    <a href="#!" class="brand-logo left">
      <img src="img/LogoHeader.png" class="responsive-img" style="height: 70px;">
    </a>
    <a href="#!" class="brand-logo center">
      Administrador
    </a>
    <ul class="right">
    </ul>
  </div>
</nav>

<div class="login-form">
  <div class="row">
    <div class="col s12 offset-m4 m4 center">
      <img src="img/logoLogin.png" class="responsive-img">
    </div>
  </div>
  <div class="row">
    <form class="col s12 offset-m4 m4 center">
      <div class="row">
        <div class="col s12 m12 center">
          <a class="btn waves-effect waves-light red barraNav-btn" name="action" ng-click="vm.authService.login()">
            Login
          </a>
        </div>
      </div>
    </form>
  </div>
</div>


<footer class="page-footer blue-grey darken-3">
  <div class="footer-copyright">
    <div class="container center">
      © 2017 Construido con amor por <a href="http//:estudiocodesign.com" target="_blank">Estudio Codesign</a>
    </div>
  </div>
</footer>
