.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }
  .page-footer a {
    color: white; }
  .page-footer a:hover {
    color: #8e8e8e; }

.icon-fenosa {
  padding: 10px;
  width: 20%;
  height: auto; }

.login-form {
  margin: 8%; }

/* label color */
.input-field label {
  color: #546e7a; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #546e7a; }

.input-field input[type=text]:focus {
  color: #2b3744; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #2b3744;
  box-shadow: 0 1px 0 0 #2b3744; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #2b3744;
  box-shadow: 0 1px 0 0 #2b3744; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #546e7a;
  box-shadow: 0 1px 0 0 #546e7a; }

/* label focus color */
.input-field input[type=password]:focus + label {
  color: #546e7a; }

.input-field input[type=password]:focus {
  border-bottom: 1px solid #546e7a;
  box-shadow: 0 1px 0 0 #546e7a; }

/* valid color */
.input-field input[type=password].valid {
  border-bottom: 1px solid #546e7a;
  box-shadow: 0 1px 0 0 #546e7a; }

/* invalid color */
.input-field input[type=password].invalid {
  border-bottom: 1px solid #546e7a;
  box-shadow: 0 1px 0 0 #546e7a; }

/* label focus color */
.input-field input[type=textarea]:focus + label {
  color: #546e7a; }

.input-field input[type=textarea]:focus {
  border-bottom: 1px solid #546e7a;
  box-shadow: 0 1px 0 0 #546e7a; }

/* valid color */
.input-field input[type=textarea].valid {
  border-bottom: 1px solid #546e7a;
  box-shadow: 0 1px 0 0 #546e7a; }

/* invalid color */
.input-field input[type=textarea].invalid {
  border-bottom: 1px solid #546e7a;
  box-shadow: 0 1px 0 0 #546e7a; }

/* icon prefix focus color */
.input-field .active {
  color: #546e7a; }

ui-view {
  min-height: 70vh; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.header-bogota a {
  font-size: 1.5em; }

.header-bogota span {
  color: #546e7a; }

.header-bogota img {
  padding: 3%;
  height: auto; }

.barraNav {
  background-color: #546e7a;
  height: 85vh; }
  .barraNav .barraNav-btn {
    margin: 10%;
    border-radius: 50px;
    width: 80%; }

.barraNav-btn {
  border-radius: 50px;
  width: 80%; }

.container {
  width: 100%;
  max-width: 100%; }

.input-field input[type=range]:focus + label {
  color: #546e7a; }

/* label underline focus color */
.input-field input[type=range]:focus {
  border-bottom: 1px solid #546e7a;
  box-shadow: 0 1px 0 0 #546e7a; }

/* valid color */
.input-field input[type=range].valid {
  border-bottom: 1px solid #546e7a;
  box-shadow: 0 1px 0 0 #546e7a; }

/* invalid color */
.input-field input[type=range].invalid {
  border-bottom: 1px solid #546e7a;
  box-shadow: 0 1px 0 0 #546e7a; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #546e7a; }

.range-field .thumb {
  background-color: #546e7a; }

.new {
  color: #546e7a; }

.cardIm {
  border-radius: 5%; }

.card-image img {
  padding: 3px; }

.map {
  height: 20rem;
  width: 100%; }

.page-footer2 {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0; }
  .page-footer2 a {
    color: white; }
  .page-footer2 a:hover {
    color: #8e8e8e; }

.cardIm {
  height: 5rem; }

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #546e7a;
  box-shadow: 0 1px 0 0 #546e7a; }

#mydiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6); }

.ajax-loader {
  position: fixed;
  left: 45%;
  top: 45%;
  margin-left: -32px;
  /* -1 * image width / 2 */
  margin-top: -32px;
  /* -1 * image height / 2 */
  display: block; }

body {
  font-family: "Muli", sans-serif;
  background-image: url("../img/backGround.jpg"); }
