<footer class="page-footer blue-grey darken-3">
  <div class="footer-copyright">
    <div class="container center">
      © 2017 Construido con amor por <a href="http//:estudiocodesign.com" target="_blank">Estudio Codesign</a>
    </div>
  </div>
</footer>
