<nav>
  <div class="nav-wrapper header-bogota blue-grey darken-3">
    <a href="#!" class="brand-logo left">
      <img src="img/HorizontalWeb-23.png" class="responsive-img">
    </a>
    <a href="#!" class="brand-logo center">
      Administrador
    </a>
    <ul class="right hide-on-med-and-down">
    </ul>
  </div>
</nav>

<div class="login-form">
  <div class="row">
    <div class="col s12 offset-m4 m4">
      <img src="img/LogoBE_WebIntro-22.png" class="responsive-img">
    </div>
  </div>
  <div class="row">
    <form class="col s12 offset-m3 m6">
      <div class="row">
        <div class="col s12 m12 center">
          <a class="btn waves-effect waves-light red accent-2" name="action" ng-click="vm.authService.login()">
            Login
          </a>
        </div>
      </div>
    </form>
  </div>
</div>


