
<nav>
  <div class="nav-wrapper header-bogota blue-grey darken-3">
    <a href="#!" class="brand-logo left">
      <img src="img/LogoHeader.png" class="responsive-img" style="height: 70px;">
    </a>
    <a href="#!" class="brand-logo center">
      Administrador
    </a>

    <ul id="dropdown1" class="dropdown-content">
      <li><a ui-sref="banners">Banners</a></li>
      <li class="divider"></li>
      <li><a ui-sref="new">Nuevo Review</a></li>
      <li class="divider"></li>
      <li><a ui-sref="terminos">Terminos</a></li>
      <li class="divider"></li>
      <li><a ng-click="vm.authService.logout()">Cerrar Session</a></li>
    </ul>

    <ul class="right hide-on-med-and-down">



      <li><a class="dropdown-button" data-beloworigin="true" data-activates="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
<nav>
  <div class="nav-wrapper blue-grey darken-2">
    <form>
      <div class="input-field">
        <input id="search" type="search" ng-model="search">
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>


<div class="container">
  <div class="row" style="margin: 3%">
    <div class="card col m3" ng-repeat="rest in vm.restaurantes | filter: search">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{rest.fotos[0]}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{rest.nombre}}<i class="material-icons right">more_vert</i></span><br>
        <span>({{rest.estado}})</span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{rest.nombre}}<i class="material-icons right">close</i></span>
        <ul class="collection">
          <li class="collection-item">Califcacion: {{rest.calificacion}}</li>
          <li class="collection-item">Precio: {{rest.precio}}</li>
          <li class="collection-item">Estado: {{rest.estado}}</li>
        </ul>
        <div class="center">
          <button class="waves-effect red darken-3 barraNav-btn center" ng-click="vm.ocultarResena(rest.id)" ng-show="rest.estado == 'publicada'">Ocultar</button>
          <button class="waves-effect red darken-3 barraNav-btn center" ng-click="vm.publicarResena(rest.id)" ng-show="rest.estado == 'oculta'|| rest.estado == 'guardada'">Publicar</button>
          <button class="waves-effect red darken-3 barraNav-btn center" ui-sref="new({id:rest.id})">Editar</button>
          <button class="waves-effect red darken-3 barraNav-btn center" ng-click="vm.eliminar(rest.id)">Eliminar</button>
        </div>

      </div>
    </div>
  </div>
</div>

<footer class="page-footer blue-grey darken-3" style="position: relative;">
  <div class="footer-copyright">
    <div class="container center">
      © 2017 Construido con amor por <a href="http://estudiocodesign.com" target="_blank">Estudio Codesign</a>
    </div>
  </div>
</footer>


<script>
  $( document ).ready(function(){
    $(".dropdown-button").dropdown({
      belowOrigin: true,
      alignment: 'left',
      inDuration: 200,
      outDuration: 150,
      constrain_width: true,
      hover: true,
      gutter: 1
    });
    $(".button-collapse").sideNav();
  })
</script>
