$font-stack: 'Muli', sans-serif;
$gray: #73776f;
$red: #546e7a;
$blue: #2b3744;


.page-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  a{
    color: white;
  }
  a:hover{
    color: #8e8e8e;
  }
}

.icon-fenosa{
  padding: 10px;
  width: 20%;
  height: auto;
}

.login-form{
  margin: 8%;
}

/* label color */
.input-field label {
  color: $red;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: $red;
}
.input-field input[type=text]:focus {
  color: $blue;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid $blue;
  box-shadow: 0 1px 0 0 $blue;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid $blue;
  box-shadow: 0 1px 0 0 $blue;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid $red;
  box-shadow: 0 1px 0 0 $red;
}

/* label focus color */
.input-field input[type=password]:focus + label {
  color: $red;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid $red;
  box-shadow: 0 1px 0 0 $red;
}
/* valid color */
.input-field input[type=password].valid {
  border-bottom: 1px solid $red;
  box-shadow: 0 1px 0 0 $red;
}
/* invalid color */
.input-field input[type=password].invalid {
  border-bottom: 1px solid $red;
  box-shadow: 0 1px 0 0 $red;
}

/* label focus color */
.input-field input[type=textarea]:focus + label {
  color: $red;
}

.input-field input[type=textarea]:focus {
  border-bottom: 1px solid $red;
  box-shadow: 0 1px 0 0 $red;
}
/* valid color */
.input-field input[type=textarea].valid {
  border-bottom: 1px solid $red;
  box-shadow: 0 1px 0 0 $red;
}
/* invalid color */
.input-field input[type=textarea].invalid {
  border-bottom: 1px solid $red;
  box-shadow: 0 1px 0 0 $red;
}

/* icon prefix focus color */
.input-field .active {
  color: $red;
}

ui-view {
  min-height: 70vh;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.header-bogota{
  a{
    font-size: 1.5em;
  }
  span{
    color: $red;
  }
  img{
    padding: 3%;

    height: auto;
  }
}

.barraNav{
  background-color: $red;
  height: 85vh;
  .barraNav-btn{
    margin: 10%;
    border-radius: 50px;
    width: 80%;
  }
}

.barraNav-btn{
  border-radius: 50px;
  width: 80%;
}

.container{
  width: 100%;
  max-width: 100%;
}


.input-field input[type=range]:focus + label {
  color: $red;
}
/* label underline focus color */
.input-field input[type=range]:focus {
  border-bottom: 1px solid $red;
  box-shadow: 0 1px 0 0 $red;
}
/* valid color */
.input-field input[type=range].valid {
  border-bottom: 1px solid $red;
  box-shadow: 0 1px 0 0 $red;
}
/* invalid color */
.input-field input[type=range].invalid {
  border-bottom: 1px solid $red;
  box-shadow: 0 1px 0 0 $red;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: $red;
}

.range-field .thumb{
  background-color: $red;
}

.new{
  color: $red;
}

.cardIm{
  border-radius: 5%;
}

.card-image{
  img{
    padding: 3px;
  }
}

.map{
  height: 20rem;
  width: 100%;
}

.page-footer2{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  a{
    color: white;
  }
  a:hover{
    color: #8e8e8e;
  }
}

.cardIm{
  height: 5rem;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $red;
  box-shadow: 0 1px 0 0 $red;
}

#mydiv {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color: rgba(0,0,0,0.6);
 }

.ajax-loader {
    position: fixed;
    left: 45%;
    top: 45%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;
}

body{
  font-family: $font-stack;
  background-image: url("../img/backGround.jpg");
}


