<nav>
  <div class="nav-wrapper header-bogota blue-grey darken-3">
    <a href="#!" class="brand-logo left">
      <img src="img/LogoHeader.png" class="responsive-img" style="height: 70px;">
    </a>
    <a href="#!" class="brand-logo center">
      Banner
    </a>
    <ul class="right hide-on-med-and-down">
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row" style="margin: 3%">
    <div class="card col m3" ng-repeat="banner in vm.banners">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{banner.foto}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{banner.nombre}}<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{banner.nombre}}<i class="material-icons right">close</i></span>
        <ul class="collection">
          <li class="collection-item">Fecha Inicio: {{banner.fecha_inicio | date  : "MM/dd/yyyy" : 'UTC'}}</li>
          <li class="collection-item">Fecha Fin: {{banner.fecha_fin | date  : "MM/dd/yyyy" : 'UTC'}}</li>
        </ul>
        <div class="center">
          <button class="waves-effect white-text red barraNav-btn center" ng-click="vm.eliminar(banner.id)">Eliminar</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Nuevo Banner</h4>
    <div class="row">
      <form class="col s12" ng-model="banner">
        <div class="row">
          <div class=" col s6">
            <label for="first_name">Nombre</label>
            <input id="first_name" type="text" class="validate" ng-model="banner.nombre">
          </div>
          <div class=" col s6">
            <label for="foto">Imagen</label>
            <input id="foto" type="file" ngf-select="vm.upload($file)"  ngf-resize="{width: 400, height: 100}">
          </div>
        </div>
        <div class="">
          <div class=" col s6">
            <label for="fechaInicio">Fecha Inicio</label>
            <input id="fechaInicio" type="date" class="validate" ng-model="banner.fecha_inicio">
          </div>
        </div>
        <div class="">
          <div class=" col s6">
            <label for="fechaFin">Fecha Fin</label>
            <input id="fechaFin" type="date" class="validate" ng-model="banner.fecha_fin">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect red darken-3 btn" ng-click="vm.nuevoBanner(banner)" style="border-radius: 25px">Crear Banner</a>
    <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeModal()" style="border-radius: 25px">Cancelar</a>
  </div>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons" data-target="modal1">add</i>
  </a>
</div>


<footer class="page-footer blue-grey darken-3">
  <div class="footer-copyright">
    <div class="container center">
      © 2017 Construido con amor por <a href="http//:estudiocodesign.com" target="_blank">Estudio Codesign</a>
    </div>
  </div>
</footer>
