
<nav>
  <div class="nav-wrapper header-bogota blue-grey darken-3">
    <a href="#!" class="brand-logo left">
      <img src="img/LogoHeader.png" class="responsive-img" style="height: 70px;">
    </a>
    <a href="#!" class="brand-logo center">
      Administrador
    </a>
    <ul class="right">
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col push-m2 push-l2 m8 l8 new">
      <h3 class="center">Nueva Review</h3>
      <form class="col s12" ng-model="vm.restaurante">
        <div class="row">
          <div class="input-field">
            <div class="col m12">
              <div ng-repeat="foto in vm.restaurante.fotos" class="col m4 center">
                <img src="{{foto}}" class="responsive-img">
                <button class="btn waves-effect red darken-3 barraNav-btn" ng-click="vm.removeFoto($index)">eliminar</button>
              </div>
              <img src="../../../../img/agregar.png" class="col m4" ngf-select="vm.upload($file)"  ngf-resize="{width: 414, height: 414, centerCrop: true}"></img>
            </div>
          </div>
          <div class="input-field col s12 m6">
            <input id="Nombre" type="text" class="validate" ng-model="vm.restaurante.nombre">
            <label for="Nombre">Nombre del Restaurante</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="Direccion" type="text" class="validate" ng-model="vm.restaurante.direccion">
            <label for="Direccion">Dirección del Restaurante</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="Telefono" type="number" class="validate" ng-model="vm.restaurante.telefono">
            <label for="Telefono">Telefono Restaurante</label>
          </div>
          <div class=" col m6 s12">
            <label>Zona</label>
            <select class="browser-default" ng-model="vm.restaurante.zona">
              <option value="" disabled selected>Choose your option</option>
              <option value="Zona G">Zona G</option>
              <option value="Macarena">Macarena</option>
              <option value="Zona T">Zona T</option>
              <option value="85">85</option>
              <option value="Usaquen">Usaquen</option>
              <option value="Candelaria">Candelaria</option>
              <option value="Chapinero">Chapinero</option>
              <option value="Quinta Camacho">Quinta Camacho</option>
              <option value="93">93</option>
              <option value="World trade center">World trade center</option>
              <option value="La 90">La 90</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <label for="calificacion">Calificación</label>
            <p class="range-field">
              <input class="red" type="range" id="calificacion" min="0" max="10" step ="0.1" ng-model="vm.restaurante.calificacion"/>
            </p>
          </div>
          <span>Precio</span>
          <div class="col m6">
            <div class="col m3">
              <input name="group1" type="radio" id="test1" value="1" ng-model="vm.restaurante.precio"/>
              <label for="test1">$</label>
            </div>
            <div class="col m3">
              <input name="group1" type="radio" id="test2" value="2" ng-model="vm.restaurante.precio"/>
              <label for="test2">$$</label>
            </div>
            <div class="col m3">
              <input name="group1" type="radio" id="test3" value="3" ng-model="vm.restaurante.precio"/>
              <label for="test3">$$$</label>
            </div>
            <div class="col m3">
              <input name="group1" type="radio" id="test4" value="4" ng-model="vm.restaurante.precio"/>
              <label for="test4">$$$$</label>
            </div>
          </div>
        </div>
        <div class="row">
          <ul class="collapsible col s12" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">Tipo de Comida</div>
              <div class="collapsible-body">
                <div class="card col m2" ng-repeat="tipo in vm.tiposCom" ng-click="tipo.selected = !tipo.selected">
                  <div class="card-image" ng-class="{'red darken-3': tipo.selected}">
                    <img src="{{tipo.img}}" class="responsive-img logoImg" ng-hide="tipo.selected">
                    <img src="{{tipo.imgSel}}" class="responsive-img logoImg" ng-show="tipo.selected">
                  </div>
                  <div class="card-action cardIm center">
                    <span>{{tipo.nombre}}</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="row">
          <ul class="collapsible col s12" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">Tipo de ocasión</div>
              <div class="collapsible-body">
                <div class="card col m2" ng-repeat="tipo in vm.tiposOca" ng-click="tipo.selected = !tipo.selected">
                  <div class="card-image" ng-class="{'red darken-3': tipo.selected}">
                    <img src="{{tipo.img}}" class="responsive-img logoImg" ng-hide="tipo.selected">
                    <img src="{{tipo.imgSel}}" class="responsive-img logoImg" ng-show="tipo.selected">
                  </div>
                  <div class="card-action cardIm center">
                    <span>{{tipo.nombre}}</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="row" style="height:100px; width:100%;">
          <div class="col s12" style="height:20rem; width:100%;">
            <div class="map" id="map">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="reseña" class="materialize-textarea" ng-model="vm.restaurante.comentario"></textarea>
            <label for="reseña">Escribe la reseña</label>
          </div>
        </div>
        <div class="row" ng-hide="vm.editando">
          <div class="col s12 m12 center">
            <a class="btn waves-effect red darken-3 barraNav-btn" name="action" ng-click="vm.guardar(vm.restaurante)">
              Guadar
            </a>
          </div>
        </div>
        <div class="row" ng-hide="vm.editando">
          <div class="col s12 m12 center">
            <a class="btn waves-effect red darken-3 barraNav-btn" name="action" ng-click="vm.publicar(vm.restaurante)">
              Publicar
            </a>
          </div>
        </div>
        <div class="row" ng-show="vm.editando">
          <div class="col s12 m12 center">
            <a class="btn waves-effect red darken-3 barraNav-btn" name="action" ng-click="vm.publicarNuevo(vm.restaurante)">
              Guardar Cambios
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="mydiv">
    <img src="../../../../img/BE_Loading_White.gif" class="ajax-loader"/>
</div>

<footer class="page-footer blue-grey darken-3" style="position: relative;">
  <div class="footer-copyright">
    <div class="container center">
      © 2017 Construido con amor por <a href="http://estudiocodesign.com" target="_blank">Estudio Codesign</a>
    </div>
  </div>
</footer>


